---
import type { TStep } from './types';
import QuizSlide from './QuizSlide.astro';

let quizData = [];

try {
    const { default: data } = await import('@/data/quiz.json');
    const { default: modelsData } = await import('@/data/models.json');
    quizData = data;
    let modelStep = quizData.find(el => el.id === 'model');
    if (modelStep && (!Array.isArray(modelStep.answerOptions) || !modelStep.answerOptions.length)) {
        const models = modelsData.models.map(el => `${el.mark_id} ${el.name}`).filter(Boolean);
        if (!models.length) throw new Error('Не найдено моделей для выбора ни в файле quiz.json, ни в файле models.json');
        modelStep.answerOptions = models;
    }
    
} catch (err) {
	console.warn(`Блок с Квизом отображаться не будет: ${err}`);
	quizData = null;
}

interface Props {
	quizSteps?: TStep[]
    formName?: string
}


const { quizSteps = quizData, formName = 'Квиз' } = Astro.props;

// import './quiz.css';
---

{
    quizSteps?.length > 0 && 
    <section class="py-0! relative">
        <div class="spinner absolute inset-0 bg-gray-50 z-10 flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" class="text-accent-500"><circle cx="4" cy="12" r="3" fill="currentColor"><animate id="svgSpinners3DotsBounce0" attributeName="cy" begin="0;svgSpinners3DotsBounce1.end+0.25s" calcMode="spline" dur="0.6s" keySplines=".33,.66,.66,1;.33,0,.66,.33" values="12;6;12"/></circle><circle cx="12" cy="12" r="3" fill="currentColor"><animate attributeName="cy" begin="svgSpinners3DotsBounce0.begin+0.1s" calcMode="spline" dur="0.6s" keySplines=".33,.66,.66,1;.33,0,.66,.33" values="12;6;12"/></circle><circle cx="20" cy="12" r="3" fill="currentColor"><animate id="svgSpinners3DotsBounce1" attributeName="cy" begin="svgSpinners3DotsBounce0.begin+0.2s" calcMode="spline" dur="0.6s" keySplines=".33,.66,.66,1;.33,0,.66,.33" values="12;6;12"/></circle></svg>
        </div>
        <form class="quiz-slider swiper">
            <input type="hidden" name="form" value={formName} />
            <input type="email" tabindex="-1" name="email" class="h-0 opacity-0 absolute -z-100" placeholder="mail@example.com" />
            <div class="swiper-wrapper items-stretch!">
                { quizSteps.map((step, index, arr) => <QuizSlide step={step} index={index} stepsCount={arr.length - 1} />) }
            </div>
        </form>
    </section>

    <script>
        import './quiz';
    </script>

    <style>
        @import './quiz.css';
    </style>
}