---
const { data = {} } = Astro.props;
import '@/components/Banner/banner.scss';
---

<div class="swiper car-image-slider w-full mb-2.5 bg-gray-50 h-[52.6vw] sm:h-auto sm:aspect-video">
	<div class="swiper-wrapper">
			{
				data.images.map(img => (
					<div class="swiper-slide !w-fit sm:!w-full">
						<a 
							href={img} 
							class="inline-block sm:block cursor-zoom-in h-full w-auto sm:w-full select-none glightbox"
							data-gallery={data.vin_hidden}
						>
							<img src={img} class="w-auto sm:mx-auto h-full object-cover select-none" alt={data.folder_id} loading="lazy" />
							<div class="swiper-lazy-preloader"></div>
						</a>
					</div>
				))
			}
	</div>
	<div class="swiper-button-prev car-image-slider-prev !hidden sm:!flex"></div>
	<div class="swiper-button-next car-image-slider-next !hidden sm:!flex"></div>
</div>
<div class="swiper car-thumb-slider !hidden sm:!block h-[130px]">
	<div class="swiper-wrapper">
		{
			data.images.map(img => (
				<div class="lazy swiper-slide select-none min-w-[170px] !w-fit">
					<img src="https://cdn.alexsab.ru/loaders/simple-loading.svg" data-src={img} class="select-none h-full w-auto" alt={data.folder_id} loading="lazy" />
					<div class="swiper-lazy-preloader"></div>
				</div>
			))
		}
	</div>
</div>

<script>
	import './slider';
</script>

<style lang="scss">
.swiper.car-thumb-slider{
	.swiper-slide{
		position: relative;
		&::after{
			content: '';
			position: absolute;
			inset: 0;
			background-color: #000;
			opacity: 0.6;
			transition: opacity .3s;
		}
		&.swiper-slide-thumb-active::after{
			opacity: 0;
		}
	}
}
</style>