---
interface Props {
	car: any;
}
const { car= {} } = Astro.props
import './cars.sass'
---
<div class="w-full relative mb-2.5">
	<div class="flex-full lg:flex-none relative flex group" x-data="usedPreviewGallery">

		{
			car.data.thumbs && car.data.thumbs.length > 0 ? (
			<div class="overflow-x-auto flex gap-[5px] lg:gap-0 snap-x snap-mandatory w-full scroll-smooth no-scrollbar" x-ref="wrapper">
			{
				car.data.thumbs.map((img:string, idx:number) => (
					idx < 5 && (
						<a href={`/cars/${car.slug}/`} class="lazy relative snap-always snap-start shrink-0 w-full aspect-[4/3] block !mb-0" data-slide={idx}>
							<img class="w-full h-full object-cover object-center" src="/img/loading-simple.gif" data-src={img}>
							{
								idx === 4 && car.data.images.length > 5 && (
								<div class="absolute inset-0 bg-black/60 text-center flex items-center justify-center z-10 text-white text-sm sm:text-base"> Еще <br> { car.data.images.length - 5} фото</div>
								)
							}
						</a>
					)
				))
			}
		</div>

		<div class="absolute hover-unavail:hidden opacity-0 group-hover:opacity-100 flex justify-between top-0 left-0 w-full h-full gap-1 pb-1.5 z-20" x-on:mouseleave="showSlideAt(0)">
			{
				car.data.thumbs.map((img:string, idx:number) => (
					idx < 5 && (
					<a href={`/cars/${car.slug}/`} class="w-full flex items-end h-full" x-on:mouseover={`showSlideAt(${idx})`}>
						<div class="w-full h-[3px] bg-black/80 aria-selected:bg-accent-500" x-bind:aria-selected={`activeIndex == ${idx}`} aria-selected={idx === 0 ? true : false}></div>
					</a>
					)
				))
			}
		</div>
			) : (
			<a href={`/cars/${car.slug}/`} class="lazy relative snap-always snap-start shrink-0 w-full aspect-[4/3] !mb-0" title="Подробнее">
				<img src="/img/loading-simple.gif" data-src={car.data.image} class="relative top-1/2 -translate-y-1/2 w-full h-auto object-contain" alt="No Photo">
			</a>
			)
		}

	</div>
</div>

<style>
	@media (hover: none){
		.hover-unavail\:hidden {
			display: none;
		}
	}

	.no-scrollbar {
		scrollbar-width: none!important;
	}
</style>