---
import { getObjectPosition } from './media';
import type { TBanner } from './types'
interface Props{
	banner?: TBanner;
}
const {banner} = Astro.props;

const poster          = banner?.image?.desktop ?? null;
const desktopVideoSrc = banner?.video?.desktop ?? null;
const tabletVideoSrc  = banner?.video?.tablet ?? '';
const mobileVideoSrc  = banner?.video?.mobile ?? null;

const pos = getObjectPosition(banner);
---
<div class="lazy absolute inset-0">
	<video
		muted
		loop
		autoplay
		playsinline
		poster={poster}
		class={`absolute inset-0 h-full w-full object-cover ${pos.className}`}
		style={pos.style}>
		{ mobileVideoSrc && <source data-src={desktopVideoSrc} type="video/mp4" media="(min-width: 1024px)" />}
		{ tabletVideoSrc && <source data-src={tabletVideoSrc} type="video/mp4" media="(min-width: 767px)" /> }
		<source data-src={mobileVideoSrc || desktopVideoSrc} type="video/mp4" />
	</video>
</div>
