---
import type { ISalon } from '@/types/ISalon';
interface Props {
	required?: boolean;
	disabled?: boolean;
	errorMessage?: string;
	pageData?: boolean;
	modalData?: boolean;
	salons: ISalon[];
}
const { required, errorMessage = 'Выберите дилерский центр', pageData = false, modalData = false, salons, disabled = false } = Astro.props;
import FormSelect from '@/components/FormSelect.astro';
// Сразу пробрасываем calltouch-метаданные в опцию селекта.
// Позже они попадут в data-атрибуты hidden input[name="dealer"].
const options = salons.map((salon, idx) => ({
	id: idx,
	name: salon.name,
	ctModId: salon?.scripts?.calltouch?.mod_id || '',
	ctSiteId: salon?.scripts?.calltouch?.site_id || '',
	ctRouteKey: salon?.scripts?.calltouch?.routeKey || '',
}));
---
{options.length > 1 && (
	<div class="w-full">
		<FormSelect name="dealer" placeholder="Выберите дилерский центр" options={options} required={required} errorMessage={errorMessage} disabled={disabled} pageData={pageData} modalData={modalData} />
	</div>
)}
