---
interface Props {
	brand: string;
	name: string;
	image: string;
}

const { brand, name, image } = Astro.props;
---
<a
	href="#common-modal"
	class="popup-link mb-[4%] lg:mb-0 w-[48%] lg:w-[calc(33.33%-calc(40px/3))] xl:w-[calc(25%-calc(60px/4))] flex flex-col justify-between border p-3 sm:pt-10 sm:pb-4 sm:px-5 overflow-hidden shadow-xl transition-all duration-500 in-expo group hover:border-gray-400 hover:shadow-md !no-underline"
	data-title={`Рассчитать стоимость ТО для&nbsp;${brand}&nbsp;${name}`}
	data-form_name={`Рассчитать стоимость ТО для ${brand} ${name}`}
>
	<img src={image} alt={name}>
	<h3 class="text-center !text-sm md:!text-base lg:!text-lg font-bold">{name}</h3>
</a>