---
import { type TFaqItem } from './types';
import { Icon } from 'astro-icon/components'
interface Props {
	item: TFaqItem;
}
const { item } = Astro.props;
---

<div
	class="px-5 py-4 rounded-md mb-3 transition hover:bg-gray-200"
	:class={ `activities.includes(${item.id}) ? 'bg-gray-200' : 'bg-gray-100'` }
	x-init={ `${item.open} && activities.push(${item.id})` }
>
	<div
		class="flex items-center justify-between cursor-pointer"
		@click={ `activities.includes(${item.id}) ? activities = activities.filter(id => id != ${item.id}) : activities.push(${item.id})` }
	>
		<div class="font-medium text-sm md:text-lg">{item.question}</div>

		<Icon 
			name="mdi:keyboard-arrow-down" 
			class="text-xl transition-transform origin-center flex-shrink-0"
			:class={ `{'-rotate-180': activities.includes(${item.id}) }` } 
		/>
	</div>
	<div
		class="mt-3 text-xs md:text-base"
		x-show={ `activities.includes(${item.id})` }
		x-transition.opacity.duration.100ms
	>
		<Fragment set:html={item.answer} />
	</div>
</div>
