---
interface Props {
    view?: string,
    classes?: string,
    url?: string,
    title?: string,
    dataTitle?: string,
    dataFormName?: string,
    dataImg?: string,
    dataImgPosition?: string,
}
const {
    view = 'link',
    classes,
    url,
    title = 'BUTTON',
    dataTitle,
    dataFormName,
    dataImg,
    dataImgPosition,
    ...rest
} = Astro.props;
import './buttons.scss'
---

{
    view === 'link' ? (
    <a
        class={`btn ${classes}`}
        href={url ? url : '#'}
        data-title={dataTitle}
        data-form_name={dataFormName}
        data-img={dataImg}
        data-img_position={dataImgPosition}
        {...rest}
    >
        {title}
    </a>
    ) :
    view === 'form-button' ? (
    <input
        type="submit"
        class={`btn ${classes}`}
        value={title}
    >
    ) :
    view === 'popup-link' ? (
        <a
            class={`btn popup-link ${classes}`}
            href={url ? url : '#'}
            data-title={dataTitle}
            data-form_name={dataFormName}
        >
            {title}
        </a>
    ) :
    view === 'scroll-link' ? (
        <a 
            class={`btn scroll-link ${classes}`}
            href={url ? url : '#'}
        >
            {title}
        </a>
    ) : ('')
}
