---
interface Props {
    view?: string,
    classes?: string,
    url?: string,
    title?: string,
    dataTitle?: string,
    dataFormName?: string,
    dataImg?: string,
    dataImgPosition?: string,
    icon?: string,
    iconClasses?: string,
}
const {
    view = 'link',
    classes,
    url,
    title = 'BUTTON',
    dataTitle,
    dataFormName,
    dataImg,
    dataImgPosition,
    icon,
    iconClasses,
    ...rest
} = Astro.props;
import './buttons.scss'
import {Icon} from 'astro-icon/components';
---

{
    view === 'link' ? (
    <a
        class={`btn ${classes}`}
        href={url ? url : '#'}
        data-title={dataTitle}
        data-form_name={dataFormName}
        data-img={dataImg}
        data-img_position={dataImgPosition}
        {...rest}
    >
        {title}
        {icon && <Icon name={icon} class={iconClasses} />}
    </a>
    ) :
    view === 'form-button' ? (
    <input
        type="submit"
        class={`btn ${classes}`}
        value={title}
    >
    ) :
    view === 'popup-link' ? (
        <a
            class={`popup-link ${classes}`}
            href={url ? url : '#'}
            data-title={dataTitle}
            data-form_name={dataFormName}
            {...rest}
        >
            {title}
            {icon && <Icon name={icon} class={iconClasses} />}
        </a>
    ) :
    view === 'scroll-link' ? (
        <a 
            class={`scroll-link ${classes}`}
            href={url ? url : '#'}
            {...rest}
        >
            {title}
            {icon && <Icon name={icon} class={iconClasses} />}
        </a>
    ) : ('')
}
