---
interface Props {
    type?: string,
    name?: string,
    classes?: string,
    placeholder?: string,
    required?: boolean,
    errorText?: string,
    errorClasses?: string,
    autocomplete?: string
}
const {
    name,
    classes = '',
    placeholder = 'Введите значение',
    required = false,
    autocomplete = 'on',
    errorText = '',
    errorClasses = 'text-xs text-red-500',
    ...rest
} = Astro.props
---

<div class="w-full">
    <textarea
        name={name}
        class={`border-2 transition-all focus:border-accent-500 px-4 py-2.5 outline-none w-full bg-white text-black xs:text-sm ${classes}`} 
        placeholder={placeholder}
        required={required}
        autocomplete={autocomplete}
        {...errorText ? {title: errorText} : {}}
        {...rest}
    ></textarea>
{
    required ? (
    <div class={`error-message text-xs hidden ${name} ${errorClasses}`}>{errorText}</div>
    ) : ('')
}
</div>