---
import settings from '@/data/settings.json';
const { brand, legal_city_where } = settings;
import Layout from '@/layouts/Layout.astro';
import ModelList from '@/components/Model/ModelList.astro';
import Breadcrumbs from '@/components/Breadcrumbs/Breadcrumbs.astro';
export const breadcrumb = { name: `Модели`, href: "/models/" };
import SeoText from '@/components/Seo/Index.astro';
import PageH1 from '@/components/PageH1/Index.astro';
---
<Layout 
	title={`Модельный ряд ${brand} – Официальный дилер ${brand} в ${legal_city_where}`} 
	description={`Информация о моделях ${brand} 2024-2025 на сайте официального дилера в ${legal_city_where}: обзор, цены, комплектации, технические характеристики.`}
>
	<section class="content">
		<div class="container">
			<Breadcrumbs breadcrumb={[breadcrumb]} />
			<PageH1 h1={`Модели ${brand}`} />
		</div>
	</section>
	<SeoText mdx="models" />
	<ModelList title="" classes="!pt-0 pb-10" />
</Layout>