---
import Form from './Form.astro';

const {
  title = 'Узнать подробнее',
  subtitle = '',
  imageUrl = '',
  dataFormName = 'Форма обратной связи на странице',
} = Astro.props;
---
{imageUrl.length ? (
  <div class="flex flex-col lg:flex-row lg:gap-10 lg:items-center lg:justify-center">
    <div class="lazy !hidden lg:!flex justify-center lg:w-1/2">
      <img src="https://cdn.alexsab.ru/loaders/simple-loading-gray.svg" data-src={imageUrl} alt={title} class="w-full h-auto" loading="lazy" />
    </div>
    <div>
      <h3 class="text-center font-bold !text-3xl sm:!text-4xl !mb-8">{title}</h3>
      {subtitle.length ? (<p class="text-center">{subtitle}</p>) : ('')}
      <Form dataFormName={dataFormName} />
    </div>
  </div>
) : (
  <h3 class="text-center font-bold !text-3xl sm:!text-4xl !mb-8">{title}</h3>
  <Form  dataFormName={dataFormName} />
)}
