---
type TImage = {
	url: string;
	title?: string;
	description?: string;
}

type TItem = {
	icon: string;
	text: string;
}

interface Props {
	section: {
		[key: string]: any;
		id?: string;
		sectionClass?: string;
		items?: TItem[];
		suptitle?: string;
		title?: string;
		text?: string;
		more?: string;
		images?: TImage[];
		button?: string;
		alternatingMedia?: {
			name?: string;
			title?: string;
			descr?: string;
			items?: {
				title?: string;
				descr?: string;
				img?: string;
			}[];
		};
		advantages?: {
			name?: string;
			title?: string;
			descr?: string;
			items?: {
				title?: string;
				descr?: string;
			}[];
			img?: string;
		};
		feedbackForm?: {
			title?: string;
			subtitle?: string;
			description?: string;
			imageUrl?: string;
			dataFormName?: string;
			showModelSelect?: boolean;
		};
	}
}
const { section, ...rest } = Astro.props;

import SuptitleSection from './suptitle.astro';
import TitleSection from './title.astro';
import TextSection from './text.astro';
import MoreSection from './more.astro';
import ItemsSection from './items.astro';
import ImagesSection from './images.astro';
import ButtonSection from './button.astro';
import AlternatingMediaSection from './alternating-media.astro';
import AdvantagesSection from './advantages.astro';
import FeedbackFormSection from './feedback-form.astro';
---

<section class:list={['sm:py-20 py-10 font-light model-section odd:bg-gray-100', section?.sectionClass]} id={section?.id} {...rest}>
	<div class="container">
		{Object.keys(section ?? {}).map((key) => {
			switch (key) {
				case 'suptitle':
					return <SuptitleSection value={section?.suptitle} />;
				case 'title':
					return <TitleSection value={section?.title} />;
				case 'text':
					return <TextSection value={section?.text} />;
				case 'more':
					return <MoreSection value={section.more} />;
				case 'items':
					return <ItemsSection items={section?.items} />;
				case 'images':
					return <ImagesSection images={section?.images} sectionId={section?.id} title={section?.title} />;
				case 'button':
					return <ButtonSection value={section?.button} />;
				case 'alternatingMedia':
					return <AlternatingMediaSection section={section?.alternatingMedia} />;
				case 'advantages':
					return <AdvantagesSection section={section?.advantages} />;
				case 'feedbackForm':
					return <FeedbackFormSection feedbackForm={section?.feedbackForm} />;
				default:
					return null;
			}
		})}
	</div>
</section>
