---
import { isRouteDisabled, SITE_NOT_FOUND_PATH } from '@/js/utils/siteRoutes';
if (isRouteDisabled('/used_cars/')) {
	return Astro.rewrite(SITE_NOT_FOUND_PATH);
}
import PageLayout from "@/layouts/PageLayout.astro";
import { getSafeCollection } from '@/js/utils/safeContent';
import settings from '@/data/site/settings.json';
const { site_name, brand, legal_city_where } = settings;
import CarsList from '@/blocks/cars/CarsList.astro';
import SeoText from '@/blocks/seo/Seo.astro';
import { filterVisibleCars } from '@/js/utils/car';
const rawCars = await getSafeCollection("used_cars");
let cars: any, image: string;
import { getRandomInt } from "@/js/utils/numbers.format";
if (rawCars && rawCars.length > 0) {
	cars = filterVisibleCars(rawCars);
	// Проверяем что есть автомобили после фильтрации и что у них есть данные
	if (cars.length > 0 && cars[0]?.data) {
		image = cars[getRandomInt(0, cars.length)].data.image;
	} else {
		image = "";
	}
} else {
	image = "";
}
export const breadcrumb = { name: "Авто с пробегом", href: "/used_cars/" };
---

<PageLayout
	h1={`Автомобили ${brand} с пробегом в ${legal_city_where}`}
	title={`Автомобили с пробегом | ${site_name}`}
	description={`Автомобили ${brand} с пробегом в наличии в ${legal_city_where} у официального дилера. Уточняйте комплектации, цены и сроки, записывайтесь на тест-драйв онлайн или по телефону.`}
	breadcrumb={[breadcrumb]}
	image={image ? image : ""}
	backLink={true}
>
	{
		cars?.length ? (
			<CarsList cars={cars} collection="used_cars" path="/used_cars/" />
		) : (
			<p>Скоро здесь появится список автомобилей с пробегом.</p>
		)
	}
	<SeoText mdx="used_cars" noPadding />
</PageLayout>
