---
import { type TSpecialService } from './types';
interface Props {
	item: TSpecialService;
}
const { item } = Astro.props;
---

<a
	href="#common-modal"
	class="popup-link special border-4 border-black px-4 pt-6 pb-8 sm:px-5 sm:pt-8 sm:pb-12 cursor-pointer transition hover:bg-gray-100 group"
	data-title={item.title}
	data-form_name={`Запись на сервис. ${item.title}`}
>
	<div class="flex items-center">
		<div class="rounded-full overflow-hidden relative z-10 border-4 border-black size-[100px] lg:size-[150px] flex-shrink-0">
			<img
				src={item.img}
				alt={item.title}
				class="absolute w-full h-full object-cover object-center transition-transform duration-300 ease-in-out group-hover:scale-110 group-hover:-rotate-2"
			/>
		</div>
		<div class="relative flex-grow">
			<h3
				class="border-2 border-black bg-black text-white pr-6 pl-12 py-2 -ml-10 xs:text-[10px] text-xs md:text-sm lg:text-lg xl:text-3xl font-normal uppercase flex items-center h-auto leading-1 transition-colors duration-300 group-hover:bg-transparent group-hover:text-black"
			>
				{item.title}
			</h3>
			{
				item.subtitle && (
					<div class="absolute top-full pl-2 text-xs xs:text-sm md:text-base lg:text-lg xl:text-2xl font-medium text-gray-900 mt-1 !leading-[1]">
						<Fragment set:html={item.subtitle} />{' '}
					</div>
				)
			}
		</div>
	</div></a
>
