---
import Layout from '@/layouts/Layout.astro';
import PostItem from '@/components/Post/Item.astro';
import CarItem from '@/components/Cars/Item.astro';
import PageH1 from '@/components/PageH1/Index.astro';
const title = 'Ошибка 404';
const description = '404. Такая страница не найдена';
import { getCollection } from 'astro:content';
const cars = await getCollection('cars');
const special = await getCollection('special-offers');
// if(Astro.url.pathname.slice(-1) != "/") {
	// return Astro.redirect(Astro.url.pathname+'/', 308);
// }
---

<Layout title={title} description={description}>
	<section class="relative pb-10 px-5">
		<div class="flex flex-col items-center justify-center gap-5 sm:gap-10 px-2">
			<div class="text-lg sm:text-3xl md:text-4xl lg:text-6xl text-center">
				<PageH1 h1={PageH1} classes="uppercase font-bold" />
			</div>
			<a href="/" class="btn inline-block mt-5 mb-10">Назад</a>
		</div>
		<img src="https://cdn.alexsab.ru/errors/404wt.webp" class="max-w-xl w-full mx-auto mt-10" alt="not found" loading="lazy" />
	</section>
	<section class="relative pb-10 hidden" id="more">
		<div class="container">
			<h2 class="mb-10">Смотрите также:</h2>
			{(cars && cars.length > 0) && (
				<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 gap-3 sm:gap-5 mt-5 car-list hidden" id="cars_more">
					{cars.map((car) => <CarItem car={car} />)}
				</div>
			)}
			{(special && special.length > 0) && (
				<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-3 sm:gap-5 hidden" id="special-offers_more">
					{special.map((post) => <PostItem post={post} />)}
				</div>
			)}
		</div>
	</section>
</Layout>

<script>
	const items = ['cars', 'special-offers']
	const parent = document.getElementById('more');
	items.map(item => {
		const match = `/${item}/`;
		if (window.location.pathname.includes(match)){
			const elem = document.getElementById(item+'_more');
			if(elem){
				elem.classList.remove('hidden');
				parent.classList.remove('hidden');
			}
		}
	})	
</script>