---
import PageLayout from '@/layouts/PageLayout.astro';
import {SITE_NAME, LEGAL_ENTITY, LEGAL_INN, LEGAL_CITY} from '@/const';
import salonsData from '@/data/salons.json';
const salons = salonsData.filter(salon => !salon.type || salon.type.includes('privacy_policy'));
const LEGAL_SALONS_INFO = LEGAL_ENTITY && LEGAL_INN ? 
[`<span>${LEGAL_ENTITY} (ИНН:&nbsp;${LEGAL_INN})</span>`] : 
salons
    .filter(salon => salon?.legal_entity && salon?.legal_entity !== '')
    .map(s => `<span><b>${s?.legal_entity}</b> (ИНН:&nbsp;${s?.legal_inn})</span>`);
---

<PageLayout
    h1="Политика конфиденциальности"
    title="Политика конфиденциальности"
    breadcrumb={[{name:"Политика конфиденциальности",href:""}]}
>
    <p>Настоящим даю согласие на обработку моих вышеуказанных персональных данных {LEGAL_SALONS_INFO.length ? <Fragment set:html={LEGAL_SALONS_INFO.join(' и ')} /> : SITE_NAME} {LEGAL_CITY && (`(${LEGAL_CITY})`)} (далее – Оператор)</p>
        <p><strong>с целями:</strong></p>
        <ul>
            <li>◦ регистрации в качестве пользователя Сайта;</li>
            <li>◦ анализа статистики посещаемости, пользовательской активности и оптимизации работы
            сайта Общества;</li>
            <li>◦ обработки обращений клиентов, в том числе для предоставления услуг и реализации
            товаров;</li>
            <li>◦ предоставления информации о новых продуктах и услугах, технических акциях и прочей
            информации, имеющей отношение к <a href={Astro.url.origin}>{Astro.url.origin}</a>;</li>
            <li>◦ учета предоставленной информации в базах данных, управления клиентской базой;</li>
            <li>◦ проведения статистических исследований, а также исследований, направленных на
            улучшение качества продукции и услуг; оказания услуг помощи на дорогах; осуществления
            процедуры отзыва автомобилей для устранения дефектов.</li>
        </ul>
        <p><strong>с использованием следующих средств связи:</strong> интернет; сообщений на адрес
        электронной почты; коротких текстовых сообщений (SMS) и мультимедийных сообщений (MMS) на
        номер телефона; а также посредством использования информационно-коммуникационных
        сервисов, таких как Viber, WhatsApp и тому подобных; телефонных звонков.</p>
        <p>Я разрешаю совершать со своими персональными данными следующие действия: сбор,
        запись, систематизацию, накопление, хранение (в электронном виде и на бумажном носителе),
        уточнение (обновление, изменение), извлечение, использование, передачу (предоставление,
        доступ) моих персональных данных партнерам Операторов (партнерам, оказывающим услуги
        хостинга и управления базами данных, обеспечивающим проведение исследований,
        осуществляющим рекламные активности по поручению Операторов, оказывающим услуги колл
        центра), с которыми у Операторов имеются действующие договоры, в рамках которых Операторы
        поручают обработку моих персональных данных в вышеуказанных целях, блокирование, удаление,
        уничтожение, с использованием средств автоматизации и без использования таких средств.</p>
        <p><strong>Согласие распространяется на следующие персональные данные:</strong></p>
        <ul>
            <li>◦ адрес электронной почты Пользователя;</li>
            <li>◦ номер телефона Пользователя;</li>
            <li>◦ Фамилию, имя, отчество Пользователя;</li>
            <li>◦ информация, содержащаяся в паспорте транспортного средства, свидетельстве о
            регистрации ТС;</li>
        </ul>
        <p>Настоящее согласие на обработку моих персональных данных действует до момента его
        отзыва в соответствии со статьей 9 Федерального закона от 27.07.2006 года №152-ФЗ «О
        персональных данных» посредством направления соответствующего письменного заявления.</p>
        <p>Я подтверждаю, что давая настоящее согласие на обработку моих вышеуказанных
        персональных данных, я нахожусь на территории Российской Федерации.</p>
        <p>Я подтверждаю, что я уведомлен(а) о том, что требование об исключении или исправлении
        (дополнении) неверных или неполных персональных данных, а также об отзыве настоящего
        согласия может быть направлено в виде соответствующего письменного заявления заказным
        письмом с описью вложения по почтовому адресу Оператора. Письменное заявление должно
        содержать ФИО, телефон и/или E-mail заявителя, а также дату составления заявления и
        собственноручную подпись заявителя.</p>
        <p>Путем нажатия активных клавиш, я подтверждаю, что ознакомлен с <strong>Политикой обработки
        персональных данных</strong>, и даю согласие на дальнейшую коммуникацию, подписываю настоящее
        согласие и разрешаю (выражаю свое безусловное согласие) определяющей условия обработки и
        обеспечения безопасности персональных данных, обязанности и ответственность Общества.</p>
</PageLayout>