---
import PageLayout from '@/layouts/PageLayout.astro';
import PrivacyPolicy from '@/content/privacy-policy.mdx';
import { frontmatter as privacyPolicyFrontmatter } from '@/content/privacy-policy.mdx';
import settings from '@/data/site/settings.json';
import scripts from '@/data/site/scripts.json';
import salonsData from '@/data/site/salons.json';
import type { ISalon } from '@/types/ISalon';

const frontmatter = privacyPolicyFrontmatter || {};
if (frontmatter.link) {
	return Astro.redirect(frontmatter.link);
}
const { legal_entity, legal_inn, legal_city } = settings;
const { site } = scripts;
const salons = salonsData.filter((salon: ISalon) => !salon?.type || salon?.type.includes('privacy_policy'));
const h1 = frontmatter.h1 || frontmatter.title || 'Политика конфиденциальности';
const title = frontmatter.title || h1;
const description = frontmatter.description || title;
const breadcrumb = frontmatter.breadcrumb || h1;
const shouldGenerateFirstBlock = frontmatter.generateFirstBlock === true;
const shouldGenerateLastBlock = frontmatter.generateLastBlock === true;

const common_text = legal_entity && legal_inn ?
	`Настоящая Политика обработки персональных данных (далее — Политика) разработана в соответствии с Федеральным законом от 27.07.2006 №152-ФЗ «О персональных данных» и определяет порядок обработки и защиты персональных данных пользователей сайта ${site} (далее — Сайт), которые предоставляет ${legal_entity} (ИНН: ${legal_inn}, г. ${legal_city}) (далее — Оператор).` :
	`Настоящая Политика обработки персональных данных (далее — Политика) разработана в соответствии с Федеральным законом от 27.07.2006 №152-ФЗ «О персональных данных» и определяет порядок обработки и защиты персональных данных пользователей сайта ${site} (далее — Сайт), которые предоставляет следующие юридические лица:` +
	salons
		.filter(salon => salon?.legal_entity && salon?.legal_entity !== '')
		.map(s => `<br />- ${s?.legal_entity}${s?.legal_inn ? `, ИНН: ${s?.legal_inn}` : ''}${s?.legal_city ? `, г. ${s?.legal_city}` : ''}`)
		.join('') +
	`<br />(далее совместно именуемые — «Операторы», а отдельно — «Оператор»).`;

const contact_text = salons
	.filter(salon => (salon?.name && salon?.name !== '' || salon?.legal_entity && salon?.legal_entity !== ''))
	.map(s => `<p class="not-last:border-b not-last:pb-4">` +
		`${s?.name ? `<strong>${s?.name}</strong><br />` : ''}` +
		`${s?.legal_entity || legal_entity ? `- Юридическое лицо: <strong>${s?.legal_entity || legal_entity}</strong><br />` : ''}` +
		`${s?.legal_inn || legal_inn ? `- ИНН: <strong>${s?.legal_inn || legal_inn}</strong><br />` : ''}` +
		`${s?.address ? `- Юридический адрес: <strong>${s?.address}</strong><br />` : ''}` +
		`${s?.phone ? `- Телефон: <strong>${s?.phone}</strong><br />` : ''}` +
		`${s?.email ? `- Электронная почта: <strong>${s?.email}</strong>` : ''}` +
	`</p>`).join('');
---

<PageLayout
	h1={h1}
	title={title}
	description={description}
	breadcrumb={[{ name: breadcrumb, href: '' }]}
>
	{shouldGenerateFirstBlock && (
		<>
			<p><strong>1. Общие положения</strong></p>
			<p set:html={common_text} />
		</>
	)}

	<PrivacyPolicy />

	{shouldGenerateLastBlock && <Fragment set:html={contact_text} />}
</PageLayout>
