---
import ModelLandingLayout from '@/layouts/ModelLandingLayout.astro';
import PageH1 from '@/components/PageH1/Index.astro';
import modelsData from '@/data/models.json';
import settings from '@/data/settings.json';
import FeedbackForm from '@/components/FeedbackForm/FeedbackForm.astro';
import SimpleGalleryGrid from '@/components/SimpleGalleryGrid/SimpleGalleryGrid.astro';
import ImageGalleryGrid from '@/components/ImageGalleryGrid/ImageGalleryGrid.astro';

const allSections = import.meta.glob('/src/data/model-sections/**/*.yml', { eager: true });

export async function getStaticPaths() {
  return modelsData.models
    .filter((m) => m.show)
    .map((model) => ({
      params: { slug: `${model.mark_id.toLowerCase()}-${model.id}` },
      props: { model },
    }));
}

const { model } = Astro.props;
const { brand } = settings;
const { name, slogan, image } = model;

const brandFolder = model.mark_id.toLowerCase();
const sectionsModule = allSections[`/src/data/model-sections/${brandFolder}/${model.id}.yml`] as { default: any[] } | undefined;
const rawSections = sectionsModule?.default ?? [];
console.log(rawSections);

type SectionImage = { url: string; title?: string; description?: string };

const sections = rawSections
  .filter((section) => section.images?.length)
  .map((section) => ({
    ...section,
    images: section.images as SectionImage[],
  }));

---

<ModelLandingLayout title={name} h1={name} description={slogan}>
  <section>
    <PageH1 classes="text-center text-4xl! md:text-6xl!" h1={`${brand} ${name}`} />
    <div class="text-center text-4xl">{`${slogan}`}</div>
    {
      image && (
        <div class="mt-6">
          <img
            src={image}
            alt={name}
            class="w-full rounded-xl object-cover"
          />
        </div>
      )
    }
  </section>

  <!-- <SimpleGalleryGrid sections={rawSections} /> -->

  {sections.map((section) => (
    <section class="mt-12">
      <h2 class="text-2xl sm:text-4xl font-bold mb-6">{section.title}</h2>
      <ImageGalleryGrid images={section.images} gallery={`gallery-${section.id}`} />
    </section>
  ))}

  <section class="bg-gray-50">
    <FeedbackForm 
      title="Остались вопросы?" 
      subtitle="Оставьте заявку и мы свяжемся с вами" 
      dataFormName=`Заявка на ${brand} ${name}`
    />
  </section>
  
</ModelLandingLayout>
