---
import { isRouteDisabled, SITE_NOT_FOUND_PATH } from '@/js/utils/siteRoutes';
if (isRouteDisabled('/model-page/')) {
	return Astro.rewrite(SITE_NOT_FOUND_PATH);
}
import settings from '@/data/site/settings.json';
if(settings.brand === 'Livan') { settings.brand = 'ЛИВЭН (LIVAN)'; }
const { brand, legal_city_where } = settings;
import Layout from '@/layouts/Layout.astro';
import ModelList from '@/components/Model/ModelList.astro';
import Breadcrumbs from '@/components/Breadcrumbs/Breadcrumbs.astro';
import { setPrefixModelUrl } from '@/js/utils/helpers';
import { IS_MODEL_PREFIX_URL } from '@/const';
export const breadcrumb = { name: `Модели`, href: "/models/" };
import SeoText from '@/components/Seo/Index.astro';
import PageH1 from '@/components/PageH1/Index.astro';
const getModelPath = (model: any) => `/model-page/${setPrefixModelUrl(model, IS_MODEL_PREFIX_URL)}/`;

if (import.meta.env.PROD) {
	return Astro.rewrite(SITE_NOT_FOUND_PATH);
}
---
<Layout
	title={`Модельный ряд ${brand} – Официальный дилер ${brand} в ${legal_city_where}`}
	description={`Информация о моделях ${brand} 2024-2025 на сайте официального дилера в ${legal_city_where}: обзор, цены, комплектации, технические характеристики.`}
	breadcrumb={[breadcrumb]}
>
	<section class="content">
		<div class="container">
			<Breadcrumbs breadcrumb={[breadcrumb]} />
			<PageH1 h1={`Модели ${brand}`} />
		</div>
	</section>
	<SeoText mdx="models" noPadding />
	<ModelList title="" classes="pt-0! pb-10" getModelPath={getModelPath} />
</Layout>
