---
interface Props {
	link: any;
	sublink?: boolean
}
const { link = {}, sublink = false, ...rest } = Astro.props;
const path = Astro.url.pathname;
const badge = link?.badge || null;
const badgeImage = badge && badge?.horisontal || badge?.img || badge?.vertical || null;

import settings from '@/data/settings.json';
const { is_header_transparent } = settings;

const transparentClasses = is_header_transparent ? 'text-header-transparent-text hover:text-header-transparent-text/80 hover:bg-header-transparent-menu-link-bg-hover' : 'text-header-text hover:bg-header-menu-link-bg-hover hover:text-button-text';
const childTransparentClasses = is_header_transparent ? 'text-submenu-transparent-text hover:text-submenu-transparent-text/80 hover:bg-header-transparent-menu-link-bg-hover' : 'text-submenu-text hover:text-submenu-text/80';
const activeTransparentClasses = is_header_transparent ? 'bg-gray-700 lg:bg-header-transparent-menu-link-bg-hover text-header-transparent-text/80' : 'bg-header-menu-link-bg-hover text-button-text!';
---
<a
	href={link.url}
	class:list={[
		{
			[`scroll-link ${transparentClasses}`]: link.url.includes('#'),
			[`header-link ${transparentClasses}`]: !link.url.includes('#'),
			[`header-child-link ${childTransparentClasses}`]: sublink,
			[`active ${activeTransparentClasses}`]: path.replace(/\//g, '') === link.url.replace(/\//g, '')
		}
	]}
	{...rest}
>
<Fragment set:html={`${link.name} ${(link?.status && (link.status === 'preorder' || link.status === 'comminsoon')) ? ' - <b>Скоро в продаже</b>' : '' }`} />
{link?.thumb && (
	<div class="aspect-video hidden lg:block w-full relative">
		<img src={link.thumb} alt="" class="w-full h-auto absolute top-1/2 -translate-y-1/2 object-cover" width="338" height="190" alt={link.name || ''} />
		{badgeImage && (<img src={badgeImage} class="absolute h-8 xl:h-10 2xl:h-12 w-auto top-0 right-5 xl:right-10" width="92" height="48" alt={badge?.alt || link.name || ''} title={badge?.alt || link.name || ''} />)}
	</div>
)}
</a>