---
interface Props {
    bgUrl?: string;
    title?: string;
    subtitle?: string;
    formName?: string;
    btn?: string;
}
import settings from '@/data/settings.json';
const { improve_offer_background } = settings;
const {
    bgUrl = improve_offer_background,
    title = "Улучшим предложение конкурентов!", 
    subtitle = "<p>У Вас уже есть предложение от другого дилера?</p><p>Сделаем лучше!</p><p>Оставьте Ваши контакты и в ближайшее время мы перезвоним!</p>",
    formName = "Улучшим предложение конкурентов",
    btn = "Отправить",
    ...rest
} = Astro.props;
import Button from '@/components/Button/Button.astro';
import Input from '@/components/Input.astro';
import Checkbox from '@/components/Checkbox/Checkbox.astro';
import {AGREE_LABEL} from '@/const'
---

<section class="text-white py-20 sm:py-24 bg-cover bg-bottom relative z-[1] before:content-[''] before:absolute before:inset-0 before:bg-black/60 before:z-[-1] model-section" style={`background-image: url(${bgUrl});`} {...rest}>
    <div class="container">
        <div class="w-wull xl:w-1/2 text-base sm:text-xl !leading-normal">
            {title && (<h2 class="text-left text-xl sm:text-5xl font-medium mb-4 before:hidden ml-0 mr-0">{title}</h2>)}
            {subtitle !== '' && <Fragment set:html={subtitle} />}
            <form class="mt-14 sm:max-w-md text-base">
                <input type="hidden" name="form" value={formName}>

                <input
                    type="email"
                    tabindex="-1"
                    name="email"
                    class="h-0 opacity-0 absolute -z-[100]"
                    placeholder="mail@example.com"
                />
                <Input
                    type="tel"
                    name="phone"
                    classes="border-gray-100 mb-4"
                    placeholder="+7 (999) 999-99-99*"
                    required
                    errorClasses="text-red-500"
                />

                <input
                    type="checkbox"
                    name="subscribe"
                    class="absolute w-0 h-0 opacity-0 invisible"
                />

                <Button view="form-button" classes="w-full mb-5" title={btn} />

                <Checkbox
                    name="agree"
                    label={AGREE_LABEL}
                    color="white"
                    required
                    errorClasses="text-red-500 w-full"
                    errorText="Чтобы продолжить, установите флажок"
                />

            </form>
        </div>
    </div>
</section>