---
interface Props {
	mapImg?: string;
	title?: string;
	height?: number;
	yOffset?: number;
}

import settings from '@/data/settings.json';
const { map_background } = settings;

const {
	mapImg = map_background, 
	title = 'Наши контакты',
	height = 500,
	yOffset = 20,
} = Astro.props;
import salonsData from '@/data/salons.json';
import type { ISalon } from '@/types/ISalon';
const salons = salonsData.filter((salon: ISalon) => !salon?.type || salon?.type.includes('map'));

import Map from './Map/Map.astro';

import MapInfo from './Map/MapInfo.astro';
---

<section
	class={`section bg-gray-50 ${title ? 'pt-8 sm:pt-16 !pb-0' : 'p-0'}`}
	id="contacts"
	style=`--height: ${height}px; --y-offset: ${yOffset}px`
>
	<div class="container relative">
		{
			title && (
				<h2 class="text-xl sm:text-4xl font-medium mb-14 before:hidden text-left mx-0">
					{title}
				</h2>
			)
		}
			<MapInfo salons={salons} classes={`h-[var(--height)] ${title ? 'lg:top-[135px]' : 'top-[var(--y-offset)]'}`} />
	</div>

	<Map mapImg={mapImg} salons={salons} classes="h-[400px] lg:h-[calc(var(--height)+var(--y-offset)*2)]"></Map>


</section>
