---
import settings from '@/data/settings.json';
const { site_name, legal_entity, legal_inn, brand, logo_header, logo_footer, logo_dealer_header, logo_dealer_footer, phone_common } = settings;
const logo_dealer = logo_dealer_footer || logo_dealer_header || '';
import { FOOTER_INFO, LINKS_MENU as links } from '@/const';
import { YEAR } from '@/js/utils/date';
import { Icon } from 'astro-icon/components'
import { phoneFormat } from '@/js/utils/numbers.format';
const url = `https://alexsab.ru?utm_source=client&utm_medium=${brand}&utm_compaing=${site_name}`;
import salonsData from '@/data/salons.json';
import type { ISalon } from '@/types/ISalon';
const salons = salonsData.filter((salon: ISalon) => !salon?.type || salon?.type.includes('footer'));
const path = Astro.url.pathname;
// SOCIALS
import SocialList from '@/components/Social/List.astro';
import socials from '@/data/socials.json';
const LEGAL_SALONS_INFO = legal_entity && legal_inn ? 
[`<span class="text-sm">${legal_entity}&nbsp;- ИНН:&nbsp;${legal_inn}</span>`] : 
salons
    .filter(salon => salon?.legal_entity && salon?.legal_entity !== '')
    .map(s => `<p class="text-sm">${s?.legal_entity}${s?.legal_inn ? `&nbsp;- ИНН:&nbsp;${s?.legal_inn}` : ''}</p>`);
---

<footer class="bg-black/90 text-white py-14 relative">
    <div class="container">
        <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-x-4 gap-y-10 md:gap-y-10 lg:gap-y-5">

            <div class="flex flex-col space-y-5 w-fit divide-y divide-white/5">
                <div class="">
                    <img src={logo_footer || logo_header} class="h-8 w-auto" loading="lazy" alt={site_name} />
                </div>
                <div>
                    {logo_dealer ? (
                        <img src={logo_dealer} class={`max-w-[200px] pt-4`} alt={site_name} loading="lazy" />
                    ) : (
                        <a href="/" class="uppercase text-2xl inline-block transition-opacity hover:opacity-70 pt-4">{site_name}</a>
                    )}
                </div>
            </div>
            <div class="">
                <div class="text-xl mb-3 md:mb-5">Разделы сайта</div>
                <ul class="space-y-2">
                {
                    links.map(link => (
                    <li><a href={path === '/' ? link.url : '/'+link.url} class={`transition hover:underline ${path === link.url ? 'font-extrabold' : ''}`}>{link.name}</a></li>
                    ))
                }
                </ul>
            </div>
            <div class="">
                <div class="text-xl mb-3 md:mb-5">Контакты</div>
                <div class="space-y-6">
                {
                    salons.map(salon => (
                    <div class="flex flex-col gap-3">
                        <span class="flex items-center gap-1 flex-nowrap">
                            <Icon name="mdi:map-marker-outline" class="text-2xl flex-shrink-0" />
                            <Fragment set:html={salon.address} />
                        </span>
                        <a href={`tel:${phoneFormat(salon.phone)}`} class="flex items-center gap-1 flex-nowrap transition-colors hover:text-accent-500">
                            <Icon name="mdi:cellphone" class="text-xl flex-shrink-0" />
                            {salon.phone}
                        </a>
                    </div>
                    ))
                }
                </div>
            </div>

            <div class="">
                {Object.keys(socials.footer).length ? (
                    <div class="text-xl mb-3 md:mb-5">Будь в курсе выгодных предложений</div>
                    <SocialList data={socials.footer} />
                ) : ('')}
            </div>

        </div>

        <hr class="mt-8 mb-5 opacity-20">

        <p class="text-xs opacity-60"><Fragment set:html={FOOTER_INFO} /></p>

        <hr class="mt-5 mb-8 opacity-20">

        <div class="flex justify-between items-start gap-10 flex-wrap">
            <div class="flex flex-grow gap-10 flex-wrap">
                <div>
                    <span class="text-sm mb-2 mr-2">&copy; {YEAR}</span>
                    {LEGAL_SALONS_INFO.length > 0 && (<Fragment set:html={LEGAL_SALONS_INFO.join('')} />)}
                </div>
                <div><a href="/privacy-policy/" class="text-white/80 text-sm font-light hover:!text-white">Политика конфиденциальности</a></div>
                <div><a href="/cookie-policy/" class="text-white/80 text-sm font-light hover:!text-white">Правила использования cookie</a></div>
            </div>
            <div class="made-by text-sm m-0 text-white/80">Разработка <a href={url} class="hover:!text-white" target="_blank">alexsab.ru</a></div>
        </div>

    </div>
</footer>