---
import { SITE_NAME, LEGAL_ENTITY, LEGAL_INN, BRAND, FOOTER_INFO, LINKS_MENU as links } from '@/const';
import { YEAR } from '@/js/utils/date';
import { Icon } from 'astro-icon/components'
import { phoneFormat } from '@/js/utils/numbers.format';
const url = `https://alexsab.ru?utm_source=client&utm_medium=${BRAND}&utm_compaing=${SITE_NAME}`
import salons from '@/data/salons.json';
const path = Astro.url.pathname;
import logo from '@/components/Logo/logo.svg';
// SOCIALS
import SocialList from '@/components/Social/List.astro';
import socials from '@/data/socials.json';
const LEGAL_SALONS_INFO = LEGAL_ENTITY && LEGAL_INN ? 
[`<p class="text-sm">${LEGAL_ENTITY}&nbsp;- ИНН:&nbsp;${LEGAL_INN}</p>`] : 
salons
    .filter(salon => salon?.legal_entity && salon?.legal_entity !== '')
    .map(s => `<p class="text-sm">${s?.legal_entity}&nbsp;- ИНН:&nbsp;${s?.legal_inn}</p>`);
---

<footer class="bg-black/90 text-white py-14 relative">
    <div class="container">
        <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-x-4 gap-y-10 md:gap-y-10 lg:gap-y-5">

            <div class="">
                <a href="/" class="uppercase text-2xl inline-block mb-5 transition-opacity hover:opacity-70">{ SITE_NAME }</a>
                <div class="flex flex-wrap items-center gap-5">
                    <img src={logo.src} class="w-[300px] filter brightness-200 invert opacity-80" alt={SITE_NAME} />
                </div>
            </div>
            <div class="">
                <h3 class="text-xl mb-3 md:mb-5">Разделы сайта</h3>
                <ul class="space-y-2">
                {
                    links.map(link => (
                    <li><a href={path === '/' ? link.url : '/'+link.url} class={`transition hover:underline ${path === link.url ? 'font-medium' : ''}`}>{link.name}</a></li>
                    ))
                }
                </ul>
            </div>
            <div class="">
                <h3 class="text-xl mb-3 md:mb-5">Контакты</h3>
                <div class="space-y-6">
                {
                    salons.map(salon => (
                    <div class="flex flex-col gap-3">
                        <span class="flex items-center gap-1 flex-nowrap">
                            <Icon name="mdi:map-marker-outline" class="text-2xl flex-shrink-0" />
                            <Fragment set:html={salon.address} />
                        </span>
                        <a href={`tel:${phoneFormat(salon.phone)}`} class="flex items-center gap-1 flex-nowrap transition-colors hover:text-accent-500">
                            <Icon name="mdi:cellphone" class="text-xl flex-shrink-0" />
                            {salon.phone}
                        </a>
                    </div>
                    ))
                }
                </div>
            </div>

            <div class="">
                {Object.keys(socials.footer).length ? (
                    <h3 class="text-xl mb-3 md:mb-5">Будь в курсе выгодных предложений</h3>
                    <SocialList data={socials.footer} />
                ) : ('')}
            </div>

        </div>

        <hr class="mt-8 mb-5 opacity-20">

        <p class="text-xs opacity-60"><Fragment set:html={FOOTER_INFO} /></p>

        <hr class="mt-5 mb-8 opacity-20">

        <div class="flex justify-between items-start gap-5 flex-wrap">
            <div class="flex flex-grow gap-5 flex-wrap items-start">
                <div class="text-sm">
                    <p class="text-sm mb-2">&copy; {YEAR}</p>
                    {LEGAL_SALONS_INFO.length > 0 && (<Fragment set:html={LEGAL_SALONS_INFO.join('')} />)}
                </div>
                <a href="/privacy-policy/" class="text-white/80 text-sm font-light leading-none hover:!text-white">Политика конфиденциальности</a>
            </div>
            <p class="made-by text-sm m-0 text-white/80 leading-none">Разработка <a href={url} class="hover:!text-white leading-none" target="_blank">alexsab.ru</a></p>
        </div>

    </div>
</footer>