---
import settings from '@/data/settings.json';
const { site_name, legal_entity, brand } = settings;
import { FOOTER_INFO } from '@/const'
const url = `https://alexsab.ru?utm_source=client&utm_medium=${brand}&utm_compaing=${site_name}`;
---

<footer class="bg-black text-white py-8" x-data="footer">
	<div class="container">
		<div class="flex justify-center">
			<a
				href="#"
				class="disclamer_switch switch text-white underline transition hover:no-underline"
				@click.prevent="onClick"
				>Подробные условия акций</a
			>
		</div>
		<div
			class="disclaimer text-xs"
			x-show="showDisclaimer"
		>
			<noindex>
				<p class="my-10">
					<Fragment set:html={FOOTER_INFO} />
				</p>
			</noindex>
		</div>
		<div class="relative flex flex-col sm:flex-row justify-between pt-10">
		<p class="mb-4">© 2024 {legal_entity}</p>
		<p class="relative bottom-0 right-0 text-sm opacity-70">Разработка <a href={url} target="_blank">alexsab.ru</a></p>
		</div>
	</div>
</footer>
