---
interface Props {
	name: string;
	placeholder?: string;
	required?: boolean;
	disabled?: boolean;
	pageData?: boolean;
	modalData?: boolean;
	errorMessage?: string;
	errorClasses?: string;
	options?: {id: string | number; name: string;}[];
}
const {
	name, 
	placeholder = 'Выберите значение', 
	required = false, 
	disabled = false, 
	pageData = false,
	modalData = false,
	errorMessage = 'Это поле обязательное!',
	errorClasses = 'xs:text-[10px] text-xs hidden text-red-500 mt-2',
	options = []
} = Astro.props
import { Icon } from 'astro-icon/components';
---
<div
	class="relative custom-select"
	:class="{'opacity-70': disabled}"
	x-data={ `{
		open: false, 
		options: ${JSON.stringify(options)},
		placeholder: '${placeholder}',
		disabled: ${disabled},
		value: null,
		currentOption: {},
		openSelect() {
			if (!this.disabled) {
				this.open = !this.open;
			}
		},
		select(id){
			this.currentOption = this.options.find(o => o.id === id);
			this.value = this.currentOption.name || null;
			this.open = false;
			this.$refs.error ? this.$refs.error.classList.add('hidden') : null;
		},
		selectOneOption(id){
			this.select(id);
			this.disabled = true;
		},
		resetSelect(){
			this.value = null;
			this.currentOption = {};
			this.disabled = false;
		},
		effect(){
			this.options = ${modalData ? '$store.salonsStore.filteredData' : pageData ? '$store.salonsStore.pageFilteredData' : 'this.options'};
			${pageData ? `
			if ($store.salonsStore.pageFilteredData.length === 1) {
				this.resetSelect();
				this.selectOneOption($store.salonsStore.pageFilteredData[0].id);
			} else if ($store.salonsStore.pageFilteredData.length > 1 && this.disabled) {
				this.resetSelect();
				this.disabled = false;
			}
			` : modalData ? `
			if ($store.salonsStore.shouldResetModalSelect) {
				this.resetSelect();
			} else if ($store.salonsStore.filteredData.length === 1) {
				this.selectOneOption($store.salonsStore.filteredData[0].id);
			} else if ($store.salonsStore.filteredData.length > 1 && this.disabled) {
			 	this.resetSelect();
				this.disabled = false;
			}
			` : `
			if (this.options.length === 1 && !this.value) {
				this.select(this.options[0].id);
			}
			`}
		},
	}` }
	x-effect="effect()"
	x-cloak>
	<input 
		type="text" 
		class="sr-only" 
		name={name} 
		:value="value" 
		{...(required ? { required: true } : {})} 
		{...(disabled ? { disabled: true } : {})} 
		{...(errorMessage ? { title: errorMessage } : {})} 
	/>
	<div 
		class="relative min-w-[160px] xs:w-full sm:min-w-[250px] w-auto bg-white" 
		@click.outside="open = false"
	>
		<span 
			class="border-2 bg-white border-gray-100 py-2.5 px-4 flex items-center justify-between gap-5 flex-nowrap outline-none select-none xs:text-sm"
			:class="{'cursor-pointer': !disabled, 'cursor-not-allowed': disabled}"
			tabindex="-1" 
			@click="openSelect()" 
			@keydown.escape="open = false">
			<span x-text="value || placeholder" :class="{'text-gray-400': !value, 'text-black': value}"></span>
			<Icon 
				name="mdi:chevron-down" 
				class="text-xl transition-transform duration-300 origin-center text-black"
				:class="{'-rotate-180': open}" 
			/>
		</span>
		<div 
			class="absolute top-full left-0 w-full bg-white border-2 border-gray-100 border-t-0 shadow-xl z-10 max-h-[180px] overflow-y-auto transition-translate duration-200 custom-scroll"
			:class="open ? 'visible opacity-100 translate-y-0' : 'invisible opacity-0 -translate-y-2'"
			x-cloak
		>
			<template x-for="option in options" :key="option.id">
				<a 
					href="#" 
					class="block py-2 px-4 whitespace-nowrap transition-colors duration-300 hover:bg-gray-200 !no-underline !text-black !mb-0"
					:class="{'bg-gray-200': option.id === currentOption.id}"
					@click.prevent="select(option.id)"
					x-text="option.name"
				></a>
			</template>
		</div>
	</div>
	{required && (<div class={`${name} error-message ${errorClasses}`} x-ref="error"><Fragment set:html={errorMessage} /></div>)}
</div>
