---

interface Props {
	title: string;
	description: string;
	image?: string;
	keywords?: string;
}
import settings from '@/data/settings.json';
const { favicon, improve_offer_background } = settings;

const canonicalURL = new URL(Astro.url.pathname, Astro.url);

const { title, description, image = improve_offer_background, keywords } = Astro.props;

const yandexSiteVerification = import.meta.env.PUBLIC_YANDEX_SITE_VERIFICATION;
const googleSiteVerification = import.meta.env.PUBLIC_GOOGLE_SITE_VERIFICATION;

---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href={favicon} />
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
{keywords && <meta name="keywords" content={keywords} />}

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

{
	// If PUBLIC_YANDEX_SITE_VERIFICATION is set in the environment variable,
	// include yandex-verification tag in the heading
	// Learn more: https://yandex.ru/support/webmaster/service/rights.html#rights
	yandexSiteVerification && (
		<meta name="yandex-verification" content={yandexSiteVerification} />
	)
}
{
	// If PUBLIC_GOOGLE_SITE_VERIFICATION is set in the environment variable,
	// include google-site-verification tag in the heading
	// Learn more: https://support.google.com/webmasters/answer/9008080#meta_tag_verification&zippy=%2Chtml-tag
	googleSiteVerification && (
		<meta name="google-site-verification" content={googleSiteVerification} />
	)
}

<script src="../js/app.js"></script>
