---
import salonsData from '@/data/salons.json';
const salons = salonsData.filter(salon => !salon.type || salon.type.includes('header'));

import { LINKS_MENU as links, HEADER_TOP_LINE } from '@/const.js';

import { Icon } from 'astro-icon/components';

import { phoneFormat, declOfNums } from '@/js/utils/numbers.format';

import Button from '@/components/Button/Button.astro';
import Logo from '@/components/Logo/Logo.astro';
import HeaderTopLine from '@/components/HeaderTopLine.astro';

const path = Astro.url.pathname;

const classBottom = path != '/' ? ' border-b' : '';

// SOCIALS
import SocialList from '@/components/Social/List.astro';
import socials from '@/data/socials.json';
---
<div
	x-data="header"
	class="bg-white sticky top-0 transition-all duration-300 z-[2147483649999]"
	:class="{'shadow-3xl': scrolling}"
>
	<header>
		{
			HEADER_TOP_LINE && <HeaderTopLine content={HEADER_TOP_LINE} />
		}
		<div class="container">
			<div class="flex items-center justify-between xs:py-2 xs:h-auto h-[60px] md:h-[80px]">
				<Logo />
				<div class="flex items-center xs:gap-3 gap-4 xl:gap-10">
					<div class="hidden md:flex flex-col">
					{
						salons.length && salons.map((salon: any, index) => {
							return index < 2 && (
						<a href={`tel:${phoneFormat(salon.phone)}`} class="whitespace-nowrap font-medium text-black/80 text-base xl:text-lg flex items-center gap-1 flex-nowrap transition-colors hover:text-accent-500" title={salon.name}><Icon name="mdi:cellphone" class="text-xl" /> {salon.phone}</a>
							)
						})
					}
					</div>
					{salons.length &&
						salons.length > 1 ? (
							<div class="hidden lg:block">
								<a
									href="#"
									class="underline"
									@click.prevent="open = !open"
									@keydown.escape="open = false"
								>Адреса салонов</a>
								<small class="block text-xs">{salons.length}&nbsp;{declOfNums(salons.length, ['салон', 'салона', 'салонов'])}</small>
							</div>) : (
							<div class="hidden lg:flex items-center gap-1 font-medium text-sm xl:text-base">
								<Icon name="mdi:map-marker-outline" class="text-2xl" />
								<Fragment set:html={salons[0].address} />
							</div>
						)
					}
					<div class="flex items-center gap-4 flex-shrink-0">
						<Button
							classes="popup-link hidden lg:block !px-4 xl:!px-4 !py-2 xl:!py-3"
							url="#common-modal"
							title="Заказать звонок"
							dataTitle="Заказать звонок"
							dataFormName="Заказ звонка. Шапка"
						/>
						<a
							href="#common-modal"
							class="lg:hidden popup-link shadow-md rounded flex items-center justify-center w-8 sm:w-10 h-8 sm:h-10 transition-shadow hover:shadow"
							aria-label="Заказать звонок"
							title="Заказать звонок"
							data-title="Заказать звонок"
							data-form_name="Заказ звонка. Шапка"
						>
							<Icon name="mdi:phone-incoming" class="text-3xl" />
						</a>
						{Object.keys(socials.footer).length ? (
							<SocialList data={socials.footer} />
					  	) : ('')}
					</div>
					<button
						class="lg:hidden shadow-md rounded flex items-center justify-center w-8 sm:w-10 h-8 sm:h-10 transition-shadow hover:shadow"
						id="mobile-menu" 
						title="Mobile menu"
						aria-label="Mobile menu"
						@click.prevent="open = !open"
					>
						<Icon name="mdi:hamburger-menu" class="text-2xl" />
					</button>
				</div>
			</div>
		</div>
	</header>


{links && (
	<div id="site_nav" class={'hidden lg:block border-t'+classBottom}>
		<div class="container">
			<div class="h-full">
				<ul class="overflow-hidden flex relative">
				{
					links.map(link => (
						<li class="relative group">
							<a
								href={link.url === 'javascript:void(0)' || path === '/' ? link.url : '/'+link.url}
								class:list={[
									{
										'scroll-link': link.url.includes('#'),
										'header-link': !link.url.includes('#'),
										'active': path.replace(/\//g, '') === link.url.replace(/\//g, '')
									}
								]}
							>{link.name}</a>
							{link?.children && link.children.length > 0 && (
								<ul class="lg:absolute top-full min-w-full w-fit lg:opacity-0 lg:invisible bg-white group-hover:opacity-100 group-hover:visible lg:shadow-2xl z-[1000]">
									{link.children.map( child => (
										<a
											href={child.url === 'javascript:void(0)' || path === '/' ? child.url : '/'+child.url}
											class:list={[
												{
													'header-child-link': !child.url.includes('#'),
													'active': path.replace(/\//g, '') === child.url.replace(/\//g, '')
												}
											]}
										>{child.name}</a>
									) )}
								</ul>
							)}
						</li>
					))
				}
				</ul>
			</div>
		</div>
	</div>
)}

	<div
		x-cloak
		class="fixed inset-0 bg-black/40 z-[35] transition-opacity duration-500"
		:class="open ? 'visible opacity-100' : 'invisible opacity-0'"
		@click="open = false"
	></div>

	<div
		x-cloak
		class="fixed top-0 bottom-0 right-0 z-40 bg-white py-10 shadow-2xl transition-transform duration-500 max-w-[500px] w-full"
		:class="open ? 'translate-x-0' : 'translate-x-[110%]'"
	>
		<button class="w-10 h-10 absolute right-0 top-0 text-2xl font-mono transition-opacity opacity-60 hover:opacity-100" @click.prevent="open = false">&times;</button>

		<div class="h-full">
			<div class="h-full overflow-y-auto">
				{links.length &&
				<ul class="flex flex-col border-b lg:hidden">
					{links.map(link => (
						<li>
							<a
								href={path === '/' ? link.url : '/'+link.url}
								class:list={[
									{
										'font-bold': link?.children && link.children.length > 0,
										'scroll-link': link.url.includes('#'),
										'header-link': !link.url.includes('#'),
										'active': path.replace(/\//g, '') === link.url.replace(/\//g, ''),
									}
								]}
							>{link.name}</a>
							{link?.children && link.children.length > 0 && (
								<ul class="">
									{link.children.map( child => (
										<a
											href={child.url === 'javascript:void(0)' || path === '/' ? child.url : '/'+child.url}
											class:list={[
												{
													'header-child-link': !child.url.includes('#'),
													'active': path.replace(/\//g, '') === child.url.replace(/\//g, '')
												}
											]}
										>{child.name}</a>
									) )}
								</ul>
							)}
						</li>
					))}
				</ul>
				}
				<div>
				{salons.length && salons.map(salon => (
					<div class="flex flex-col gap-3 py-5 px-5 border-t first:border-0">
						<div class="font-medium text-lg">{salon.name}</div>
						<a href="#contacts" class="text-xl flex items-center gap-1 flex-nowrap"><Icon name="mdi:map-marker-outline" class="text-2xl flex-shrink-0" /><Fragment set:html={salon.address} /></a>
						<a href={`tel:${phoneFormat(salon.phone)}`} class="text-2xl font-medium text-black/80 flex items-center gap-1 flex-nowrap transition-colors hover:text-accent-500" title={salon.name}><Icon name="mdi:cellphone" class="text-xl" /> {salon.phone}</a>
					</div>
				))}
				</div>
			</div>
		</div>
	</div>
</div>


<style lang="scss">
	.scroll-link, .header-link, .header-child-link{
		@apply block lg:inline-block py-3 px-5 transition-colors duration-300 hover:bg-accent-400 hover:text-white whitespace-nowrap;
		&.active{
			@apply bg-accent-400 text-white;
		}
	}
	.header-child-link{
		@apply block text-black pl-10 lg:pl-5;
	}

</style>