---
interface Props {
    type?: string,
    name?: string,
    classes?: string,
    placeholder?: string,
    required?: boolean,
    errorText?: string,
    errorClasses?: string,
    autocomplete?: string,
    list?: string,
    listOptions?: {id: string | number, name: string}[] | []
}
const {
    type = 'text',
    name,
    classes = '',
    placeholder = 'Введите значение',
    required = false,
    autocomplete = 'on',
    errorText = '',
    errorClasses = 'xs:text-[10px] text-xs text-red-500',
    list = '',
    listOptions=[],
    ...rest
} = Astro.props
---

<div class="w-full">
    <input
        type={type}
        name={name}
        class={`border-2 transition-all focus:border-accent-500 px-4 py-2.5 outline-hidden w-full bg-white text-black xs:text-sm ${classes}`} 
        placeholder={placeholder}
        required={required}
        autocomplete={autocomplete}
        {...errorText ? {title: errorText} : {}}
        {...rest}
        list={list}
    >
{
    required ? (
    <div class={`error-message hidden mt-2 ${name} ${errorClasses}`}>{errorText}</div>
    ) : ('')
}
{
    list.length ? (
        <datalist id={list}>
            {
                listOptions.map(option => <option value={option.name} />)
            }
        </datalist>
    ) : null
}
</div>
