---
import type {TButtonData} from '@/components/Button/types';
interface Props extends TButtonData {
    type?: string;
}
const {
    view = 'link',
    url = '#common-modal',
    title = 'Узнать подробнее',
    dataTitle = 'Узнать подробнее',
    dataFormName = 'Узнать подробнее',
    type = 'sales'
} = Astro.props;
import Button from '@/components/Button/Button.astro';
import { phoneFormat } from '@/js/utils/numbers.format';
import salonsData from '@/data/salons.json';
import type { ISalon } from '@/types/ISalon';
const salons = type 
    ? salonsData.filter((salon: ISalon) => !salon?.type || salon?.type.includes(type))
    : salonsData;
const LEGAL_SALONS_INFO = salons.length > 1 
    ? `<p class="font-bold">Подробности по телефону:</p>` + salons.map(s => `<p class="text-sm">${s.name}&nbsp;- <a class="whitespace-nowrap" href="tel:${phoneFormat(s.phone)}">${s.phone}</a></p>`).join('')
    : salons.length === 1 
        ? `<p class="font-bold">Подробности в нашем дилерском центре по тел.: <a href="tel:${phoneFormat(salons[0].phone)}">${salons[0].phone}</a></p>`
        : '';
---
{LEGAL_SALONS_INFO.length > 0 && (
	<Fragment set:html={LEGAL_SALONS_INFO} />
)}
<div class="flex justify-center mt-10 mb-5">
	<Button 
		classes="popup-link block !px-4 xl:!px-8 !py-2 xl:!py-3 !text-white !no-underline" 
		view={view}
		url={url}
		title={title}
		dataTitle={dataTitle}
		dataFormName={dataFormName}
	/>
</div>