---
import type {TButtonData} from '@/components/Button/types';
interface Props extends TButtonData {}
const {
    view = 'link',
    url = '#common-modal',
    title = 'Узнать подробнее',
    dataTitle = 'Узнать подробнее',
    dataFormName = 'Узнать подробнее'
} = Astro.props;
import Button from '@/components/Button/Button.astro';
import { phoneFormat } from '@/js/utils/numbers.format';
import salons from '@/data/salons.json';
const LEGAL_SALONS_INFO = salons.length ? salons.map(s => `<p class="text-sm">${s.name}&nbsp;- <a class="whitespace-nowrap" href="tel:${phoneFormat(s.phone)}">${s.phone}</a></p>`) : [];
---
{LEGAL_SALONS_INFO.length > 0 && (
	<p class="font-medium">Подробности по телефону:</p>
	<Fragment set:html={LEGAL_SALONS_INFO.join('')} />
)}
<div class="flex justify-center mt-10 mb-5">
	<Button 
		classes="popup-link block !px-4 xl:!px-8 !py-2 xl:!py-3 !text-white !no-underline" 
		view={view}
		url={url}
		title={title}
		dataTitle={dataTitle}
		dataFormName={dataFormName}
	/>
</div>