---
interface Props {
	type?: any;
	name?: string;
	value?: string;
	label?: string;
	color?: string;
	required?: boolean;
	errorText?: string;
	errorClasses?: string;
	classes?: string;
}
const {
	type = 'checkbox',
	name,
	value,
	label = '<span>LABEL</span>',
	color = 'white',
	required = false,
	errorText = '',
	errorClasses = 'xs:text-[10px] text-xs text-red-500 w-full',
	classes = '',
	...rest
} = Astro.props;
import './checkbox.css';
---

<label class={'cursor-pointer ' + classes}>
	<input
		type={type}
		name={name}
		value={value}
		class="sr-only"
		{...required ? { required: true } : {}}
		{...errorText ? { title: errorText } : {}}
		{...rest}
	/>
	<div class={`text-${color}/80 text-sm sm:text-base flex items-start`}>
		<span class={`fake-${type}-${color} mr-2 sm:mt-0.5`}></span>
		<div>
			<Fragment set:html={label} />
			{
				required ? (
					<div class={`error-message mt-2 hidden ${name} ${errorClasses}`}>
						{errorText}
					</div>
				) : (
					''
				)
			}
		</div>
	</div>
</label>
