---
interface Props {
	type?: any;
	name?: string;
	value?: string;
	label?: string;
	color?: string;
	required?: boolean;
	errorText?: string;
	errorClasses?: string;
	classes?: string;
}
const {
	type = 'checkbox',
	name,
	value,
	label = '<span>LABEL</span>',
	color = 'white',
	required = false,
	errorText = '',
	errorClasses = '',
	classes = '',
	...rest
} = Astro.props;
import './checkbox.scss';
---

<label class={'cursor-pointer ' + classes}>
	<input
		type={type}
		name={name}
		value={value}
		class="absolute w-0 h-0 opacity-0 invisible"
		{...rest}
	/>
	<div class={`text-${color}/80 text-sm sm:text-base flex items-start`}>
		<span class={`fake-${type}-${color} mr-2 mt-0.5 sm:mt-1`}></span>
		<div>
			<Fragment set:html={label} />
			{
				required ? (
					<div class={`error-message text-xs mt-2 hidden ${name} ${errorClasses}`}>
						{errorText}
					</div>
				) : (
					''
				)
			}
		</div>
	</div>
</label>
