---
interface Props {
	post: any
}
const { post } = Astro.props;
import FormattedDate from '@/components/FormattedDate.astro';
---
<a 
	href={`/${post.collection}/${post.slug}/`}
	class="!no-underline"
>
	<div class="bg-gray-50 group rounded-2xl relative aspect-video overflow-hidden">
		<img src={post.data.image} class="absolute w-full h-full object-cover object-center transition-transform duration-300 group-hover:scale-110" alt={post.data.title} loading="lazy">
	</div>
	<div class="text-black mt-2 sm:mt-4 leading-none">{post.data.caption || post.data.title}</div>
	{post.data?.pubDate && (<FormattedDate date={post.data.pubDate} />)}
</a>