---
import PageLayout from "@/layouts/PageLayout.astro";
import { getCollection } from "astro:content";
import { SITE_NAME, BRAND, LEGAL_CITY_WHERE } from "@/const";
import CarItem from "@/components/Cars/Item.astro";
import SortSelect from "@/components/Cars/SortSelect.astro";
import FilterItemBtn from '@/components/Filter/ItemBtn.astro'
const rawCars = await getCollection("cars");
let cars: any, image: string, brands = [], models = [], years = [];
import { getRandomInt, declOfNums } from "@/js/utils/numbers.format";
if (rawCars && rawCars.length > 0) {
	cars = rawCars;
	image = cars[getRandomInt(0, cars.length)].data.image;
	cars.map((car) => {
		if(!brands.includes(car.data.mark_id)){
			brands.push(car.data.mark_id);
		}
		if(!models.includes(car.data.folder_id)){
			models.push(car.data.folder_id);
		}
		if(!years.includes(car.data.year)){
			years.push(car.data.year);
		}
	})
} else {
	image = "";
}
export const breadcrumb = { name: "Авто в наличии", href: "/cars/" };
---

<PageLayout
	h1={`Автомобили ${BRAND} в наличии в ${LEGAL_CITY_WHERE}`}
	title={`Автомобили в наличии | ${SITE_NAME}`}
	breadcrumb={[breadcrumb]}
	image={image ? image : ""}
	backLink={true}
>
	{
		cars ? (
			<div x-data="sorting" x-cloak>
				<p x-text="`${total} ${declOfNums(total)} в наличии`"></p>
				<hr class="my-5" />
				<SortSelect />
				<hr class="my-5" />
				{brands.length > 1 && (
					<div class="flex flex-wrap gap-2 sm:gap-4">
						{brands.map(brand => (
							<FilterItemBtn name={brand} value={brand.toLocaleLowerCase()} id={brand.toLocaleLowerCase()} filterType="Brands" />
						))}
					</div>
					<hr class="my-5" />
				)}
				{models.length && (
					<div class="flex flex-wrap gap-2 sm:gap-4">
						{models.map(model => (
							<FilterItemBtn name={model} value={model.toLocaleLowerCase()} id={model.toLocaleLowerCase()} filterType="Models" />
						))}
					</div>
				)}
				{years.length && (
					<hr class="my-5" />
					<div class="flex flex-wrap gap-2 sm:gap-4">
						{years.map(year => (
							<FilterItemBtn name={year} id={year} filterType="Years" />
						))}
					</div>
				)}
				<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 gap-3 sm:gap-5 mt-5 car-list">
					{cars.map((car) => (
						<CarItem car={car} />
					))}
				</div>
			</div>
		) : (
			<p>Скоро здесь появится список новых автомобилей.</p>
		)
	}
</PageLayout>

<style>
	.filter-model-link{
		@apply text-xs sm:text-base py-2 px-2 sm:px-4 no-underline rounded-md m-0;
	}
</style>
