---
// Плитка руководства с изображением модели (вариант бренда Toyota).
import CardMedia from '@/ui/card-media/CardMedia.astro';
import Button from '@/ui/button/Button.astro';

interface Props {
	image?: string;
	name: string;
	url: string;
	imgPlacement?: 'left' | 'right';
}
const { image, name, url, imgPlacement = 'left' } = Astro.props;
---
<CardMedia imgPlacement={imgPlacement}>
	<img slot="card-image" class="max-w-48 lg:p-10" src={image} alt={name} />
	<Fragment slot="card-content">
		<h2 class="m-0! p-0! before:hidden text-xl! lg:text-3xl!">Руководство по эксплуатации <span class="font-semibold">{name}</span></h2>
		<div class="flex gap-3">
			<Button view="link" classes="m-0! btn" url={url} target="_blank" title="Посмотреть" />
			<Button view="link" classes="m-0! btn btn-o" url={url} download title="Скачать" />
		</div>
	</Fragment>
</CardMedia>
