---
import salons from '@/data/salons.json'

import { SITE_NAME, LEGAL_ENTITY, LEGAL_INN } from '@/const'

import { phoneFormat } from '@/js/utils/numbers.format';

import {Icon} from 'astro-icon/components';

import InfoItem from '@/components/Contacts/InfoItem.astro';
const space = salons.length > 1 ? 'space-y-2' : 'space-y-4';
---

<div class="map-info relative lg:absolute lg:max-w-md lg:top-[135px] s1024_1074:left-[45px] s1280_1330:left-[45px] s1536_1586:left-[45px] py-8 px-4 sm:px-8 z-10 bg-white/70 shadow-2xl w-fit mx-auto mb-10 lg:mb-0">
	<div class="flex items-center flex-nowrap flex-col sm:flex-row gap-1 sm:gap-3 mb-3">
		<div class="sm:pr-3 sm:border-r w-full max-w-[160px] flex-grow flex-shrink">
			<img src="/img/logo/logo.svg" class="w-full" alt={SITE_NAME} />
		</div>
		<div
			class="text-xl sm:text-2xl leading-none uppercase tracking-wider sm:tracking-normal">
			{SITE_NAME}
		</div>
	</div>

	{salons.length > 0 && (
		<div class="divide-y">
			{salons.map(salon => (
				<div class={`py-4 ${space}`}>
					{salons.length > 1 && salon?.name && (<InfoItem class="w-full flex items-center gap-2" value={salon.name} iconName="mdi:bank" iconClass="text-2xl text-gray-500" />)}					
					{salon?.address && (<InfoItem class="w-full flex items-center gap-2" value={salon.address} iconName="mdi:map-marker-outline" iconClass="text-2xl text-gray-500" />)}
					{salon?.phone && (<InfoItem class="w-full flex items-center gap-2" value={salon.phone} iconName="mdi:cellphone" type="phone" iconClass="text-2xl text-gray-500" />)}
					{salons.length === 1 && salon?.work_hours && (<InfoItem class="w-full flex items-center gap-2" value={salon.work_hours} iconName="mdi:clock-time-three-outline" iconClass="text-2xl text-gray-500" />)}
				</div>
			))}
		</div>
	)}

	<div class="font-bold sm:text-xl mb-4">
		Остались вопросы? Мы&nbsp;перезвоним!
	</div>
	<a
		class="popup-link btn black max-w-[400px] w-full block"
		href="#common-modal"
		data-title="Заказать звонок"
		data-form_name="Заказ звонка. Секция Контакты">
		Заказать звонок
	</a>
</div>