---
import PageLayout from "@/layouts/PageLayout.astro";
import { getCollection } from "astro:content";
import settings from '@/data/settings.json';
const { site_name, brand, legal_city_where } = settings;
import CarsList from '@/components/Cars/List.astro';
const rawCars = await getCollection("used_cars");
let cars: any, image: string;
import { getRandomInt } from "@/js/utils/numbers.format";
if (rawCars && rawCars.length > 0) {
	// Исключаем скрытые файлы
	cars = rawCars.filter((car) => !(typeof car?.id === 'string' && car.id.startsWith('__')));
	// Проверяем что есть автомобили после фильтрации и что у них есть данные
	if (cars.length > 0 && cars[0]?.data) {
		image = cars[getRandomInt(0, cars.length)].data.image;
	} else {
		image = "";
	}
} else {
	image = "";
}
export const breadcrumb = { name: "Авто с пробегом", href: "/used_cars/" };
---

<PageLayout
	h1={`Автомобили ${brand} с пробегом в ${legal_city_where}`}
	title={`Автомобили с пробегом | ${site_name}`}
	description={`Автомобили ${brand} с пробегом в наличии в ${legal_city_where} у официального дилера. Уточняйте комплектации, цены и сроки, записывайтесь на тест-драйв онлайн или по телефону.`}
	breadcrumb={[breadcrumb]}
	image={image ? image : ""}
	backLink={true}
>
	{
		cars ? (
			<CarsList cars={rawCars} collection="used_cars" path="/used_cars/" />
		) : (
			<p>Скоро здесь появится список автомобилей с пробегом.</p>
		)
	}
</PageLayout>
