---
import { getObjectPosition } from '@/js/utils/media';
import type { TBanner } from './types'
interface Props{
	banner?: TBanner;
}
const {banner} = Astro.props;

const poster          = banner?.imageUrl ?? banner?.image?.desktop ?? null;
const desktopVideoUrl = banner?.videoUrl ?? banner?.video?.desktop ?? null;
const tabletVideoUrl  = banner?.video?.tablet ?? '';
const mobileVideoUrl  = banner?.mobileVideoUrl ?? banner?.video?.mobile ?? null;

const pos = getObjectPosition(banner);
---
<div class="lazy absolute inset-0">
	<video
		muted
		loop
		autoplay
		playsinline
		poster={poster}
		{...pos.style ? {style: pos.style} : {}}
		class={`absolute inset-0 h-full w-full object-cover ${pos.className}`}>
		{ mobileVideoUrl && <source data-src={desktopVideoUrl} type="video/mp4" media="(min-width: 1024px)" />}
		{ tabletVideoUrl && <source data-src={tabletVideoUrl} type="video/mp4" media="(min-width: 767px)" /> }
		<source data-src={mobileVideoUrl || desktopVideoUrl} type="video/mp4" />
	</video>
</div>