---
import { getMediaUrl, getPositions } from '@/js/utils/media';
import type { TBanner } from './types'
interface Props{
	banner?: TBanner;
}
const {banner} = Astro.props;

const poster          = getMediaUrl(banner?.imageUrl, banner?.image?.desktop, null);
const desktopVideoUrl = getMediaUrl(banner?.videoUrl, banner?.video?.desktop, null);
const tabletVideoUrl  = getMediaUrl(banner?.video?.tablet, null, '');
const mobileVideoUrl  = getMediaUrl(banner?.mobileVideoUrl, banner?.video?.mobile, null);

const { mobilePositionClass, tabletPositionClass, desktopPositionClass } = getPositions(banner);
---
<div class="lazy absolute inset-0">
	<video
		muted
		loop
		autoplay
		playsinline
		poster={poster}
		class={`absolute inset-0 h-full w-full object-cover ${mobilePositionClass} ${tabletPositionClass} ${desktopPositionClass}`}>
		{ mobileVideoUrl && <source data-src={desktopVideoUrl} type="video/mp4" media="(min-width: 1024px)" />}
		{ tabletVideoUrl && <source data-src={tabletVideoUrl} type="video/mp4" media="(min-width: 767px)" /> }
		<source data-src={mobileVideoUrl || desktopVideoUrl} type="video/mp4" />
	</video>
</div>